body {
    font-family: Georgia, serif;
    margin: 0;
    margin-top: 0;
}

.secOne{
    padding: 5px;
    background-color: #FFDC42;
}

.secThree{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #FFF99E;
}